@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* navbar css */
.navbar {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px gray;
    --webkit-box-shadow: 0 8px 6px -6px gray;
    border-bottom: solid gray !important;
    background-color: rgb(198, 197, 202);
}



.logo {
    color: rgb(244, 42, 6);
}

.collapse {
    margin-left: 25px;
}

.navbar-nav {
    margin-right: 25px;
}

.nav-link {
    font-weight: bold !important;
}

.active {
    border-bottom: 2px solid black;
}

.navbar-brand {
    font-weight: bold;
    font-family: "roboto", sans-serif;
    letter-spacing: 3px;
}

.search-form {
    margin-right: 10px;
    margin-top: 4px;
}

.search-form input {
    border: none;
    border-radius: 0;
}

.search-form button {
    background-color: #000000;
    border-radius: 0;
    color: white;
}



/* Footer css */

.footer {
    color: white;
    padding: 25px;
    background: #000000;

    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);

    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);


    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.footer a:hover {
    color: #ffefba;
    border-bottom: 1px solid #ffefba;
}

.footter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.footer-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.footer-2 h1{
    color: tomato;
}

.footer-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

/* Page Not Found css */
.pnf {
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pnf-title {
    font-size: 100px;
    font-weight: 700;
}

.pnf-heading {
    font-weight: normal;
}

.pnf-btn {
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
}

.pnf-btn:hover {
    background-color: black;
    color: white;
}


.contactus {
    margin: 0;
    padding: 0;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}


/* ==================== */
.product-link {
    text-decoration: none !important;
    color: black !important;
}

.cat-btn {
    padding: 40px 0px;
    font-size: 24px;
    text-transform: uppercase;
}

.cat-btn:hover {
    background-color: #434343;
    color: white;
}



.dashboard {
    margin-top: 80px !important;
    /* margin-bottom: 180px !important; */
}

.dashboard1 {
    margin-top: 80px !important;
    margin-bottom: 200px !important;
}

.dashboard-menu h4 {
    background-color: #383030 !important;
    color: white;
    padding: 20px 0px;
    margin-bottom: 20px;
}


.admin-sidebar{
    padding: 20px;
}

.admin-sidebar:hover{
    color:tomato;
}


.user-sidebar{
    padding: 20px;
}

.user-sidebar:hover{
    color:tomato;
}


.admin-image{
    margin-bottom: 10px;
    width: 90%;
    height: 300px;
}

.admin-details{
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}


.bottem_change{
    margin-bottom: 20px !important;
}


.card-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


.btn-forn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.search-item{
    margin-top: 30px;
    height: 90vh;
}


.title1{
    margin-top: 10px;
    margin-bottom: 40px;
}

.form-control1{
    margin-top: 20px;
}

.card-details1{
    margin-top: 20px;
}

.dashmenu{
    margin-right: 30px;
}


.border1{
    margin-bottom: 20px !important;
}


.cart-page{
    height: 90vh;
}

.image-size{
    width: 300px;
    height: 250px;
}

.image-divv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}